{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1 class="text-center text-8xl lg:text-6xl mt-36 lg:mt-24 mb-5 text-secondary-800">Comment réserver une entre pour le parc ?</h1>
        <div class="flex">
            <div>
rtgrg
            </div>
            <div class="grow">
            <p class="text-secondary-800 ">1. Placez-vous sur la page d'accueil</p>
            </div>
        </div>
    </div>
{% endblock %}